body,
* {
  font-family: "Lato", sans-serif;
  line-height: 1.1;
  color: #404040;
  font-size: 1rem;
}

main {
  max-width: 750px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  html,
  * {
    text-align: center;
  }
}

a {
  color: #7381ce;
  font-weight: bold;
  text-decoration: none;
}

#title {
  width: 100%;
}

#logo-container {
  width: 100%;
}

#logo {
  height: 150px;
  width: 150px;
}

#title-text {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  width: 100%;
}

#title-text h1 {
  font-size: 1.75rem;
  margin-top: 0;
}

#button {
  font-size: 18pt;
  background-color: #e6525a;
  color: white;
  padding: 7px;
  border-radius: 7px;
  text-decoration: none;
}

p {
  padding: 0.5em;
}

.wrapper {
  background-color: #7381ce;
  border-radius: 7px;
  padding-top: 2em;
  padding-bottom: 2em;
  height: auto;
  margin: auto;
}

.one,
.two {
  margin: auto;
}

.one {
  width: 100%;
  height: 400px;
}
.two {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 800px) {
  #title {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    max-width: 750px;
    margin: auto;
  }

  #button {
    margin-right: 1em;
  }

  p {
    width: 700px;
  }

  #subtitle {
    color: #404040;
  }

  #logo-container {
    width: 25%;
    margin: 0;
  }

  #title-text {
    padding-top: 1em;
    width: calc(100% - 200px);
    margin: 0;
  }

  .wrapper {
    padding: 0;
    background-color: #7381ce;
    border-radius: 7px;
    width: 750px;
    height: 480px;
  }

  .one {
    opacity: 1;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
    float: left;
    width: auto;
  }

  .two {
    opacity: 1;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 3em;
    float: right;
    width: auto;
  }
}
